%div.formStyle
  = form_for([@article, @notification]) do |f|
    - if @notification.errors.any?
      #error_explanation
        %h2= "#{pluralize(@notification.errors.count, "error")} prohibited this notification from being saved:"
        %ul
          - @notification.errors.full_messages.each do |msg|
            %li= msg
    .field

      = f.text_area :notification, placeholder: "Reason why this article is being rejected", class: "form-control"

    .actions
      = f.submit 'Save', class: "btnStyle white large-padding"
